{% extends "layout.html" %} 

{% block body %}
<div class="container mt-4">
  <h1 class="text-center mb-3">Lista de Usuarios</h1>
  {% if users %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
              <a href="{{ url_for('usuarios.show', {'id': user.id}) }}" class="btn btn-dark">Ver</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </ul>
  {% else %}
    Hola
  {% endif %}
</div>
{% endblock %}
